* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
  }
  *, *:before, *::after {
    margin: 0;
    padding: 0;
}
  html,
  body {
    min-height: 100vh;
  }
  
  img {
    border-style: none;
    max-width: 100%;
    height: auto;
  }

  