.black-bg-text {
    background: #000000;
    color: #ffffff;
    
}
.blue-bg-text {
    background: #16ebfe;
    color: #000000;
}


ul,li {
    list-style: none;
}
a {
    text-decoration: none;
    color: inherit;
}
.flex {
    display: flex;
}