.black-bg-text {
  background: $base-color-first;
  color: $base-color-second;
}

.blue-bg-text {
  background: $accent-color;
  color: $base-color-first;
}

ul,
li {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

.flex {
  display: flex;
}

/*MARGINS*/

.mb-2 {
  margin-bottom: 2px;
}

.mb-3 {
  margin-bottom: 3px;
  @media (min-width: 768px) {
    margin-bottom: 0;
  }
}

.mb-7 {
  margin-bottom: 7px;
}

.mb-10 {
  margin-bottom: 10px;

  @media (min-width: 480px) {
    margin-bottom: 20px;
  }

}

.mb-20 {
  margin-bottom: 20px;

  @media (min-width: 480px) {
    margin-bottom: 20px;
  }
}