@font-face {
    font-family: acrom;
    src: url(../fonts/Acrom-Regular.woff);
    font-weight: 400;
}

@font-face {
    font-family: acrom;
    src: url(../fonts/Acrom-Medium.woff);
    font-weight: 500;
}

@font-face {
    font-family: acrom;
    src: url(../fonts/Acrom-Bold.woff);
    font-weight: 600;
}

@font-face {
    font-family: acrom;
    src: url(../fonts/Acrom-ExtraBold.woff);
    font-weight: 800;
}

@font-face {
    font-family: acrom;
    src: url(../fonts/Acrom-Light.woff);
    font-weight: 300;
}

@font-face {
    font-family: acrom;
    src: url(../fonts/Acrom-Thin.woff);
    font-weight: 100;
}