@font-face {
    font-family: acrom;
    src: url(../fonts/Acrom-Regular.ttf);
    font-weight: 400;
}

@font-face {
    font-family: acrom;
    src: url(../fonts/Acrom-Medium.ttf);
    font-weight: 500;
}

@font-face {
    font-family: acrom;
    src: url(../fonts/Acrom-Bold.ttf);
    font-weight: 600;
}

@font-face {
    font-family: acrom;
    src: url(../fonts/Acrom-ExtraBold.ttf);
    font-weight: 800;
}

@font-face {
    font-family: acrom;
    src: url(../fonts/Acrom-Light.ttf);
    font-weight: 300;
}

@font-face {
    font-family: acrom;
    src: url(../fonts/Acrom-Thin.ttf);
    font-weight: 100;
}
@font-face {
    font-family: maryad;
    src: url(../fonts/MyriadPro-Regular.ttf);
    font-weight: 400;
}