.no-padding {
  padding: 0;
}

.goods {
  width: 270px;
  margin: auto;

  @media (min-width: 768px) {
    margin-left: 0;
    width: 300px;
  }

  @media (min-width: 1440px) {
    width: 320px;
  }

}

.section-five {

  overflow: hidden;

  @media (min-width: 1200px) {
    margin-top: 70px;
  }
}

.goods__caption {
  margin: 0 auto;
  text-align: center;
  padding-top: 60px;
  font-family: acrom;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  color: $base-color-second;
  margin-bottom: 17px;
  line-height: 1.4;

  @media (min-width: 480px) {
    font-size: 18px;
    font-weight: 600;
  }

  @media (min-width: 768px) {
    font-size: 26.92px;
    padding-top: 0;
    text-align: left;
  }

  @media (min-width: 960px) {
    font-size: 33.65px;
  }

  @media (min-width: 1200px) {
    font-size: 30px;
  }

  @media (min-width: 1440px) {
    font-size: 36px;
  }
}

.goods__description {
  margin: auto;
  margin-bottom: 40px;
  position: relative;
  font-family: acrom;
  font-weight: 500;
  font-size: 9px;
  width: 160px;

  &::before {
    display: block;
    content: "\2014";
    position: absolute;
    top: -15%;
    left: -20px;
    font-size: 16px;
    margin-bottom: 65px;

    @media (min-width: 480px) {
      font-size: 40px;
      top: -40%;
      left: -40px;
    }

    @media (min-width: 768px) {
      top: -65%;
    }

    @media (min-width: 960px) {
      top: -50%;
    }

    @media (min-width: 1200px) {
      top: -55%;
    }

    @media (min-width: 1440px) {
      top: -70%;
      font-size: 48px;
    }
  }

  @media (min-width: 480px) {
    font-size: 13.5px;
    width: 200px;
  }

  @media (min-width: 768px) {
    font-size: 8.97px;
    width: 165px;
  }

  @media (min-width: 960px) {
    font-size: 11.22px;
    width: 180px;
    margin-left: 70px;
  }

  @media (min-width: 1200px) {
    font-size: 10px;
    width: 160px;
  }

  @media (min-width: 1440px) {
    width: 190px;
    line-height: 1.4;
    font-size: 12px;
  }
}

.goods__list {
  @media (min-width: 768px) {
    margin-left: 15px;
  }

  overflow: hidden;
}

.goods__list-list-item {
  position: relative;
  font-family: acrom;
  font-weight: 800;
  font-size: 8.96px;
  text-transform: uppercase;
  width: 160px;
  margin: 0 auto 15px auto;

  @media (min-width: 480px) {
    font-size: 13.44px;
    width: 230px;
  }

  @media (min-width: 768px) {
    margin: 0 0 20px 40px;
    font-size: 8.97px;
  }

  @media (min-width: 960px) {
    font-size: 11.22px;
  }

  @media (min-width: 1200px) {
    font-size: 10px;
    margin-bottom: 10px;
    width: 200px;
  }

  @media (min-width: 1440px) {
    font-size: 12px;
    width: 220px;
  }
}

.goods__list-description {
  display: block;
  font-family: acrom;
  font-weight: 500;
  font-size: 7.84px;
  width: 160px;
  margin: 0 auto 20px auto;

  @media (min-width: 480px) {
    font-size: 11.78px;
    width: 230px;
    line-height: 1.5;
  }

  @media (min-width: 768px) {
    margin-left: 40px;
    font-size: 7.85px;
    width: 180px;
  }

  @media (min-width: 960px) {
    font-size: 9.81px;
  }

  @media (min-width: 1200px) {
    font-size: 8.75px;
  }

  @media (min-width: 1440px) {
    font-size: 10.5px;
    width: 220px;
  }
}

.order-list-item1,
.order-list-item2 {
  position: absolute;
  left: -50px;
  font-size: 16.8px;

  &::after {
    display: block;
    content: "";
    width: 8px;
    height: 8px;
    background: $accent-color;
    position: absolute;
    right: 2px;
    bottom: -8px;

  }

  @media (min-width: 768px) {
    font-size: 25.21px;
    top: -3px;

  }

  @media (min-width: 960px) {
    font-size: 21px;
    left: -48px;
  }

  @media (min-width: 1200px) {
    font-size: 18.75px;

  }

  @media (min-width: 1440px) {
    font-size: 22.5px;
  }
}

.goods--margin {
  margin-bottom: 45px;
}

.margin-center {
  margin-left: auto;
  margin-right: auto;

  @media (min-width: 480px) {
    width: 230px;
  }
}

input {
  outline: none;
}

.form {
  flex-direction: column;
  padding-top: 38px;
  box-shadow: 0 11px 20px 5px #dedede;
  padding-left: 45px;
  margin-bottom: 45px;

  @media (min-width: 480px) {
    padding-left: 65px;
    width: 370px;
    margin: auto;
  }

  @media (min-width: 768px) {
    width: 290px;
  }

  @media (min-width: 960px) {
    width: 350px;
  }

  @media (min-width: 1200px) {
    width: 335px;
  }

  @media (min-width: 1440px) {
    width: 390px;
  }
}

.form__text {
  margin-bottom: 5px;
  border: none;
  font-family: acrom;
  font-weight: 500;
  font-size: 6.19px;
  color: $base-color-first;

  @media (min-width: 480px) {
    font-size: 9.29px;
    margin-bottom: 35px;
  }

  @media (min-width: 768px) {
    font-size: 7.85px;
    margin-bottom: 9px;
  }

  @media (min-width: 960px) {
    font-size: 9.81px;
  }

  @media (min-width: 1200px) {
    font-size: 8.75px;
  }

  @media (min-width: 1440px) {
    font-size: 10.5px;
  }
}

.form__name {
  margin-bottom: 9px;
  font-size: 5.31px;
  font-family: acrom;
  font-weight: 600;
  color: #a3a3a3;

  @media (min-width: 480px) {
    font-size: 7.97px;
    margin-bottom: 13px;
  }

  @media (min-width: 768px) {
    font-size: 6.73px;
  }

  @media (min-width: 960px) {
    font-size: 8.41px;
  }

  @media (min-width: 1200px) {
    font-size: 7.5px;
  }

  @media (min-width: 1440px) {
    font-size: 9px;
  }
}

.form__underline {
  display: none;

  @media (min-width: 768px) {
    display: block;
    width: 100%;
    margin-bottom: 15px;

    &::after {
      display: block;
      content: "";
      width: 160px;
      height: 1px;
      background: #d9d6d6;

      @media (min-width: 768px) {
        width: 200px;
      }

      @media (min-width: 1440px) {
        width: 270px;
      }
    }
  }
}

input:valid {
  color: green;
}

input:invalid {
  color: red;
}

.button--form-button {
  width: 116px;
  height: 23px;
  margin-bottom: 45px;
  font-size: 5.31px;

  @media (min-width: 480px) {
    width: 175px;
    height: 33px;
    margin-bottom: 68px;
    font-size: 7.97px;
  }

  @media (min-width: 768px) {
    width: 145px;
    height: 30px;
    margin-bottom: 57px;
    font-size: 6.73px;
  }

  @media (min-width: 960px) {
    width: 180px;
    height: 35px;
    margin-top: 30px;
    margin-bottom: 70px;
    font-size: 8.41px;
  }

  @media (min-width: 1200px) {
    width: 160px;
    height: 30px;
    margin-bottom: 65px;
    font-size: 7.5px;
  }

  @media (min-width: 1440px) {
    width: 200px;
    height: 40px;
    margin-bottom: 80px;
    font-size: 9px;
  }
}

.attention {
  text-align: center;
  font-family: acrom;
  font-weight: 800;
  font-size: 12px;
  color: $base-color-first;
  text-transform: uppercase;
  margin: auto;
  margin-bottom: 18px;

  @media (min-width: 480px) {
    font-size: 18px;
    margin-top: 20px;
  }

  @media (min-width: 768px) {
    font-size: 26.92px;
    margin-left: 0;
  }

  @media (min-width: 960px) {
    font-size: 30px;
  }

  @media (min-width: 1200px) {
    font-size: 30px;
  }

  @media (min-width: 1440px) {
    font-size: 36px;
  }
}

.display-block-up-to-768 {
  display: none;

  @media (min-width: 768px) {
    display: block;
    font-size: 25px;
    text-align: left;
  }

  @media (min-width: 960px) {
    font-size: 33.65px;
  }
}

.display-block-low-768 {
  display: block;

  @media (min-width: 768px) {
    display: none;
  }
}

.attention--box-sizing {
  width: 140px;
  line-height: 1.3;
  text-align: left;

  @media (min-width: 480px) {
    width: 250px;
  }

  @media (min-width: 768px) {
    width: 315px;
    margin-top: 80px;
  }

  @media (min-width: 1200px) {
    width: 315px;
  }

  @media (min-width: 1440px) {
    width: 370px;
  }
}

.attention--align {
  width: 100%;
  text-align: left;
  margin-bottom: 0;

  @media (min-width: 480px) {
    width: 100%;
  }

  @media (min-width: 768px) {
    position: absolute;
    top: 0;
    left: 10px;
    font-size: 18px;
  }

  @media (min-width: 960px) {
    top: 0;
    left: 30px;
    font-size: 23px;
  }

  @media (min-width: 1200px) {
    font-size: 18.75px;
  }

  @media (min-width: 1440px) {
    font-size: 22.5px;
    left: 40px;
  }
}

.price-block {
  margin: auto;
  width: 285px;
  height: 185px;
  background: #052139;
  color: $base-color-second;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 25px;

  @media (min-width: 480px) {
    width: 370px;
    height: 275px;
  }

  @media (min-width: 768px) {
    width: 260px;
    height: 190px;
    margin-left: 0;
    margin-top: 65px;
  }

  @media (min-width: 960px) {
    width: 320px;
    height: 240px;
  }

  @media (min-width: 1200px) {
    width: 290px;
    height: 215px;
  }

  @media (min-width: 1440px) {
    width: 345px;
    height: 255px;
  }
}

.price-block__full {
  font-family: acrom;
  font-weight: 500;
  font-size: 8.59px;
  width: 60px;
  line-height: 1.5;

  @media (min-width: 480px) {
    font-size: 12.89px;
    width: 90px;
    line-height: 1.3;
  }

  @media (min-width: 768px) {
    font-size: 8.97px;
  }

  @media (min-width: 960px) {
    font-size: 11.22px;
  }

  @media (min-width: 1200px) {
    font-size: 10px;
  }

  @media (min-width: 1440px) {
    font-size: 12px;
  }
}

.price-block__sum1 {
  font-family: acrom;
  font-weight: 800;
  font-size: 9.66px;
  align-self: center;
  text-transform: uppercase;

  &::before {
    display: inline-block;
    content: "";
    width: 25px;
    height: 2px;
    background: $base-color-second;
    margin-bottom: 2px;
    margin-right: 8px;
  }

  @media (min-width: 480px) {
    font-size: 14.5px;
  }

  @media (min-width: 768px) {
    font-size: 8.97px;
  }

  @media (min-width: 960px) {
    font-size: 12.62px;
  }

  @media (min-width: 1200px) {
    font-size: 10px;
  }

  @media (min-width: 1440px) {
    font-size: 13.5px;
  }
}

.price-block__today {
  font-family: acrom;
  font-weight: 500;
  font-size: 8.59px;
  line-height: 1.5;

  @media (min-width: 480px) {
    font-size: 12.89px;
  }

  @media (min-width: 768px) {
    font-size: 8.97px;
  }

  @media (min-width: 960px) {
    font-size: 11.22px;
  }

  @media (min-width: 1200px) {
    font-size: 11.25px;
  }

  @media (min-width: 1440px) {
    font-size: 12px;
  }
}

.price-block__sum2 {
  font-family: acrom;
  font-weight: 800;
  font-size: 20px;
  align-self: center;

  @media (min-width: 480px) {
    font-size: 30px;
  }

  @media (min-width: 768px) {
    font-size: 25px;
  }

  @media (min-width: 960px) {
    font-size: 25pxpx;
  }

  @media (min-width: 1200px) {
    font-size: 30px;
  }

  @media (min-width: 1440px) {
    font-size: 36px;
  }
}

.price-block__currency {
  font-size: 0.5em;
}

.price-block__group {
  justify-content: space-between;
  width: 170px;
  padding: 10px 0 10px 0;

  @media (min-width: 480px) {
    width: 220px;
  }

  @media (min-width: 768px) {
    width: 160px;
  }

  @media (min-width: 960px) {
    width: 200px;
  }

  @media (min-width: 1200px) {
    width: 175px;
  }

  @media (min-width: 1440px) {
    width: 200px;
  }
}

.price {
  width: 200px;
  margin: auto;
  text-align: left;

  @media (min-width: 480px) {
    width: 315px;
  }

  @media (min-width: 768px) {
    margin-top: 45px;
    width: 200px;
  }

  @media (min-width: 960px) {
    width: 220px;
  }

  @media (min-width: 1440px) {
    width: 220px;
  }
}

.price__description {
  font-family: acrom;
  font-weight: 800;
  font-size: 9.58px;
  margin-bottom: 13px;

  @media (min-width: 480px) {
    font-size: 14.37px;
  }

  @media (min-width: 768px) {
    font-size: 8.97px;
    margin-left: 20px;
  }

  @media (min-width: 960px) {
    font-size: 11.22px;
    margin-left: 25px;
  }

  @media (min-width: 1200px) {
    font-size: 10px;
    margin-left: 25px;
  }

  @media (min-width: 1440px) {
    font-size: 12px;
  }
}

.accent {
  position: relative;
  color: $brand-color;
  font-weight: 500;
  line-height: 1.6;

  &::before {
    display: inline-block;
    content: "/";
    font-weight: 800;
    font-size: 2.6em;
    color: $base-color-first;
    position: absolute;
    top: -3px;
    left: -32px;
    transform: rotate(15deg);

    @media (min-width: 480px) {
      font-size: 3.3em;
      top: -15px;
    }

    @media (min-width: 768px) {
      top: -10px;
      left: -25px;
    }
  }

  @media (min-width: 960px) {
    line-height: 1.5;
  }
}

.price__text {
  font-family: acrom;
  font-weight: 500;
  color: $base-color-first;
  font-size: 8.38px;
  width: 160px;
  margin-bottom: 20px;

  @media (min-width: 480px) {
    font-size: 12.57px;
    width: 247px;
    line-height: 1.5;
  }

  @media (min-width: 768px) {
    text-align: left;
    font-size: 7.85px;
    width: 140px;
    margin-left: 20px;
  }

  @media (min-width: 960px) {
    font-size: 9.81px;
    margin-left: 25px;
    width: 200px;
  }

  @media (min-width: 1200px) {
    font-size: 8.75px;
    width: 190px;
  }

  @media (min-width: 1440px) {
    font-size: 10.5px;
  }
}

.button--price-button {
  width: 200px;
  height: 27px;
  font-family: acrom;
  font-weight: 800;
  font-size: 6.49px;
  margin: auto;
  margin-bottom: 55px;

  @media (min-width: 480px) {
    width: 230px;
  }

  @media (min-width: 768px) {
    width: 200px;
    height: 30px;
    font-size: 6.73px;
    margin-left: 0;
  }

  @media (min-width: 960px) {
    width: 250px;
    height: 35px;
    font-size: 8.41px;
  }

  @media (min-width: 960px) {
    width: 225px;
    height: 30px;
    font-size: 7.5px;
  }

  @media (min-width: 1440px) {
    width: 270px;
    font-size: 6.73px;
    margin-left: 0;
    height: 37px;
  }
}

.block--margin {
  margin-bottom: 23px;
}

.slogan {
  width: 145px;
  margin: auto;

  @media (min-width: 480px) {
    width: 220px;
  }

  @media (min-width: 768px) {
    width: 285px;
    margin-left: 0;
  }

  @media (min-width: 960px) {
    width: 350px;
  }

  @media (min-width: 1200px) {
    width: 320px;
  }

  @media (min-width: 1440px) {
    width: 380px;
  }
}

.slogan__small-dash {
  &::before {
    display: inline-block;
    content: "\2014";
    padding-right: 3px;

    @media (min-width: 768px) {
      font-size: 26.92px;
    }

    @media (min-width: 1200px) {
      font-size: 36px;
    }
  }
}

.slogan__description {
  position: relative;
  font-family: acrom;
  font-weight: 500;
  color: $base-color-first;
  font-size: 8.38px;
  margin-left: 15px;
  margin-bottom: 20px;
  width: 190px;

  &::before {
    display: inline-block;
    content: "\2014";
    position: absolute;
    top: -35%;
    left: -30px;
    color: $base-color-first;
    font-size: 10px;

    @media (min-width: 480px) {
      top: -25%;
      font-size: 35px;

    }

    @media (min-width: 768px) {
      top: -130%;
      font-size: 50px;
      left: -45px;


    }

    @media (min-width: 960px) {
      top: -100%;
    }

    @media (min-width: 1200px) {
      top: -115%;
    }

    @media (min-width: 1200px) {
      top: -85%;
    }
  }

  @media (min-width: 480px) {
    font-size: 13.5px;
    line-height: 1.5;


  }

  @media (min-width: 768px) {
    font-size: 8.97px;
    width: 190px;
    margin-left: 35px;
  }

  @media (min-width: 960px) {
    font-size: 11.22px;
    width: 240px;
  }

  @media (min-width: 1200px) {
    font-size: 10px;
    width: 230px;
  }

  @media (min-width: 1440px) {
    font-size: 12px;
    width: 250px;
  }
}

.button--slogan-button {
  width: 150px;
  height: 30px;
  margin: 15px auto 30px auto;

  @media (min-width: 480px) {
    width: 230px;
  }

  @media (min-width: 768px) {
    font-size: 6.73px;
    margin: 15px auto 100px 35px;
    width: 146px;
    height: 28px;
  }

  @media (min-width: 960px) {
    font-size: 8.41px;
    margin: 15px auto 100px 35px;
    width: 180px;
    height: 37px;
  }

  @media (min-width: 1200px) {
    font-size: 7.5px;
    width: 160px;
    height: 32px;
  }

  @media (min-width: 1440px) {
    font-size: 9px;
    width: 200px;
    height: 40px;
  }
}

.epilog {
  width: 200px;
  margin: auto;

  @media (min-width: 480px) {
    width: 315px;
    margin-bottom: 30px;
  }

  @media (min-width: 768px) {
    width: 230px;
    margin-left: 70px;
    margin-top: 80px;
  }

  @media (min-width: 960px) {
    width: 300px;
    margin-left: 85px;
    margin-top: 90px;
  }

  @media (min-width: 1200px) {
    width: 260px;
    margin-left: 90px;
  }

  @media (min-width: 1440px) {
    width: 300px;
    margin-left: 120px;
  }
}

.epilog__text {
  font-family: acrom;
  font-weight: 400;
  color: $base-color-first;
  font-size: 9px;
  margin-bottom: 20px;

  @media (min-width: 480px) {
    font-size: 13.5px;
    line-height: 1.5;
  }

  @media (min-width: 768px) {
    text-align: left;
    font-size: 7.85px;
  }

  @media (min-width: 960px) {
    font-size: 9.81px;
  }

  @media (min-width: 1200px) {
    font-size: 8.75px;
  }

  @media (min-width: 1440px) {
    font-size: 10.5px;
  }
}

.epilog__description {
  font-family: acrom;
  font-weight: 800;
  font-size: 9.58px;
  margin-bottom: 13px;

  @media (min-width: 480px) {
    font-size: 13.5px;
  }

  @media (min-width: 768px) {
    font-size: 8.97px;
    line-height: 1.5;
  }

  @media (min-width: 960px) {
    font-size: 11.22px;
  }

  @media (min-width: 1200px) {
    font-size: 10px;
  }

  @media (min-width: 1440px) {
    font-size: 12px;
  }
}

.epilog__end {
  color: $brand-color;
  font-family: acrom;
  font-weight: 500;
  text-align: right;
  margin: auto;
  font-size: 9.58px;

  @media (min-width: 960px) {
    font-size: 11.22px;
    padding: 0;
  }

  @media (min-width: 1200px) {
    font-size: 10px;
  }

  @media (min-width: 1440px) {
    font-size: 12px;
  }
}
