.section-one {
  padding-top: 34px;
  font-family: $main-font;
  font-weight: 500;
  font-size: 9px;
  line-height: 13px;

  @media (min-width: 480px) {
    font-size: 13.5px;
    line-height: 19.5px;
    padding-top: 35px;
  }

  @media (min-width: 768px) {
    font-size: 8.97px;
    line-height: 13.46px;
    padding-top: 108px;
  }

  @media (min-width: 960px) {
    font-size: 9.81px;
    line-height: 14.72px;
    padding-top: 140px;
  }

  @media (min-width: 1200px) {
    font-size: 8.75px;
    line-height: 1.5;
    padding-top: 120px;
  }

  @media (min-width: 1440px) {
    font-size: 10.5px;
    line-height: 15.75px;
    padding-top: 140px;
  }
}

.section-one__text {
  margin-bottom: 35px;

  @media (min-width: 480px) {
    margin-top: 9px;
  }
  @media (min-width: 768px) {
    margin-top: 6px;
    font-size: 7.85px;
    line-height: 11.78px;
  }
  @media (min-width: 960px) {
    font-size: 9.81px;
    line-height: 14.72px;
  }
  @media (min-width: 1200px) {
    font-size: 8.75px;
    line-height: 13.13px;
  }
  @media (min-width: 1440px) {
    font-size: 10.5px;
    line-height: 15.75px;
  }
}

.section-one__text--mark-text {
  @media (min-width: 320px) {
    font-weight: 700;
  }
  @media (min-width: 768px) {
    padding-top: 23px;
    font-size: 9px;
  }
  @media (min-width: 960px) {
    padding-top: 46px;
    font-size: 11.22px;
    line-height: 16.82px;
  }
  @media (min-width: 1200px) {
    padding-top: 30px;
  }
  @media (min-width: 1440px) {
    padding-top: 32px;
    font-size: 12px;
    line-height: 18px;
  }
}

.start-work__img {
  display: block;
  position: relative;
  margin-bottom: 25px;

  @media (min-width: 768px) {
    padding-top: 0px;
  }

  @media (min-width: 1200px) {
    padding-top: 8px;
  }
}

.start-work__img::after {
  content: "YOU";
  position: absolute;
  transform: rotate(90deg);
  bottom: -80px;
  left: -45px;
  font-family: $main-font;
  font-weight: 800;
  font-size: 66.11px;
  opacity: 0.05;

  @media (min-width: 480px) {
    font-size: 97.66px;
    bottom: -120px;
    left: -65px;
  }

  @media (min-width: 768px) {
    font-size: 140.24px;
    bottom: -150px;
    left: -95px;
  }
  @media (min-width: 960px) {
    font-size: 175.3px;
    bottom: -175px;
    left: -118px;
  }

  @media (min-width: 1200px) {
    font-size: 156.25px;
    bottom: -270px;
    left: -108px;
  }

  @media (min-width: 1440px) {
    font-size: 187.5px;
    bottom: -190px;
    left: -120px;
  }
}

.hidden {
  &-sm {
    @media screen and (min-width: 320px) and (max-width: 767px) {
      display: none;
    }
  }

  &-md {
    @media (min-width: 768px) {
      display: none;
    }
  }
}

.start-work__text {
  color: $base-color-third;
  font-weight: 700;
  margin-bottom: 30px;

  @media (min-width: 480px) {
    color: #000;
    padding-top: 18px;
    padding-bottom: 12px;
  }

  @media (min-width: 768px) {
    color: #000;
    padding-top: 0px;
    padding-bottom: 12px;
    padding-left: 25px;
    font-size: 8.97px;
    line-height: 13.46px;
    font-weight: 500;
    margin-bottom: 10px;
  }

  @media (min-width: 960px) {
    font-size: 11.22px;
    line-height: 16.82px;
    text-align: left;
    font-weight: 600;
    padding-left: 35px;
  }
  @media (min-width: 1200px) {
    padding-left: 30px;
    font-size: 10px;
    line-height: 15px;
  }

  @media (min-width: 1440px) {
    padding-left: 40px;
    font-size: 12px;
    line-height: 18px;
  }
}

.start-work__sub-title {
  @extend %sub-title;
  @extend %uppercase;
  position: relative;
  padding-left: 25px;
  padding-bottom: 7px;

  @media (min-width: 480px) {
    padding: 12px 0 10px 40px;
  }

  @media (min-width: 768px) {
    margin-top: 0;
    padding-top: 25px;
    font-size: 11px;
    width: 80%;
    padding-left: 70px;
  }

  @media (min-width: 960px) {
    font-size: 12.62px;
    line-height: 21.03px;
    width: 90%;
    padding-left: 57px;
    padding-top: 35px;
  }
  @media (min-width: 1200px) {
    font-size: 11.25px;
    padding: 30px 0 5px 50px;
    line-height: 18.75px;
  }

  @media (min-width: 1440px) {
    font-size: 13.5px;
    padding: 42px 0 5px 63px;
    line-height: 22.5px;
    width: 80%;
  }
}

.start-work__sub-title::before {
  content: "";
  display: block;
  height: 2px;
  width: 15px;
  background: #000;
  position: absolute;
  left: -2px;
  top: 3px;

  @media (min-width: 480px) {
    height: 2px;
    width: 24px;
    left: -1px;
    top: 20px;
  }

  @media (min-width: 768px) {
    height: 3px;
    width: 28px;
    left: 26px;
    top: 28px;
  }

  @media (min-width: 960px) {
    height: 3px;
    width: 35px;
    left: 5px;
    top: 40px;
  }

  @media (min-width: 1200px) {
    height: 4px;
    width: 30px;
    left: 2px;
    top: 34px;
  }

  @media (min-width: 1440px) {
    height: 5px;
    width: 37px;
    left: 4px;
    top: 47px;
  }
}

.start-work__title {
  @extend %title;
  @extend %uppercase;
  margin-bottom: 25px;

  @media (min-width: 768px) {
    font-size: 26px;
    font-weight: 700;
    line-height: 1.3;
    padding-left: 25px;
    padding-top: 2px;
  }

  @media (min-width: 960px) {
    font-size: 33.64px;
    line-height: 42.06px;
    padding-left: 50px;
  }

  @media (min-width: 1200px) {
    padding-left: 45px;
    padding-top: 8px;
    font-size: 30px;
    line-height: 37.5px;
  }
  @media (min-width: 1440px) {
    padding-left: 55px;
    padding-top: 10px;
    line-height: 45px;
    font-size: 36px;
  }
}

.start-work__list-title {
  @extend %uppercase;
  font-weight: 900;
  font-size: 9px;
  line-height: 13px;
  padding-bottom: 10px;

  @media (min-width: 480px) {
    font-size: 14px;
    padding-top: 20px;
    padding-bottom: 16px;
    line-height: 14px;
  }
  @media (min-width: 768px) {
    font-size: 16.82px;
    line-height: 20.19px;
    padding-top: 41px;
    padding-bottom: 14px;
  }

  @media (min-width: 960px) {
    font-size: 21px;
    padding-top: 56px;
    padding-bottom: 20px;
  }
  @media (min-width: 1200px) {
    font-size: 19px;
    padding-top: 47px;
    padding-bottom: 20px;
    position: absolute;
  }
  @media (min-width: 1440px) {
    font-size: 22.5px;
    padding-top: 62px;
  }
}

.list {
  padding-left: 2.8em;
  position: relative;

  @media (min-width: 768px) {
    padding-left: 0;
  }

  @media (min-width: 1200px) {
    padding-top: 40px;
  }
  @media (min-width: 1440px) {
    padding-top: 60px;
  }
}

.list__item--none-style {
  padding-bottom: 10px;
  color: $base-color-third;
  position: relative;

  &--mark-text {
    font-weight: 800;
    color: $base-color-first;

    &-uppercase {
      @extend %uppercase;
      font-weight: 800;
      padding-bottom: 10px;
      color: #000;
    }

    @media (min-width: 1200px) {
      line-height: 15px;
      font-size: 10px;
    }
  }

  @media (min-width: 480px) {
    padding-bottom: 17px;
  }

  @media (min-width: 768px) {
    padding-bottom: 5px;
  }

  @media (min-width: 960px) {
    padding-bottom: 22px;
    line-height: 16.82px;
    font-size: 9.81px;
  }

  @media (min-width: 1200px) {
    line-height: 15px;
    font-size: 8.75px;
    padding-bottom: 10px;
  }
  @media (min-width: 1440px) {
    line-height: 18px;
    font-size: 12px;
    padding-bottom: 7px;
  }

  &::before {
    content: "";
    width: 5px;
    height: 5px;
    background: #000;
    position: absolute;
    top: 5px;
    left: -11px;

    @media (min-width: 480px) {
      width: 8px;
      height: 8px;
      top: 0.4em;
      left: -17px;
    }

    @media (min-width: 768px) {
      width: 0px;
      height: 0px;
    }

    @media (min-width: 768px) {
      padding-bottom: 1.6em;
    }
  }
}

.list__item {
  padding-bottom: 0.9em;
  color: $base-color-third;
  position: relative;

  &--mark-text {
    font-weight: 800;
    color: $base-color-first;

    @media (min-width: 768px) {
      font-size: 9px;
    }

    @media (min-width: 960px) {
      font-size: 11.22px;
      line-height: 16.82px;
    }
    @media (min-width: 1440px) {
      font-size: 12px;
      line-height: 18px;
    }

    &-uppercase {
      @extend %uppercase;
      font-weight: 800;
      padding-bottom: 10px;
      color: #000;
    }
  }

  &::before {
    content: "";
    width: 5px;
    height: 5px;
    background: #000;
    position: absolute;
    top: 0.4em;
    left: -2em;

    @media (min-width: 480px) {
      width: 7px;
      height: 7px;
      top: 0.4em;
    }

    @media (min-width: 768px) {
      width: 5px;
      height: 5px;
      top: 0.5em;
      left: -2em;
    }

    @media (min-width: 960px) {
      width: 7px;
      height: 7px;
      top: 0.4em;
      left: -3em;
    }
  }

  @media (min-width: 768px) {
    padding-bottom: 1.6em;
  }
}

.start-work__text--accent {
  margin: 0 auto;
  text-align: center;
  color: $brand-color;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 5px;
  width: 60%;

  @media (min-width: 480px) {
    margin-top: 18px;
  }

  @media (min-width: 768px) {
    width: 90%;
    position: absolute;
    text-align: left;
    margin-top: 10px;
    font-weight: 600;
    font-size: 9.6px;
    line-height: 13.6px;
    left: -44px;
  }

  @media (min-width: 960px) {
    font-size: 11px;
    width: 95%;
    line-height: 1.5;
  }

  @media (min-width: 1200px) {
    top: -95px;
    left: 10px;
    line-height: 1.4;
  }
  @media (min-width: 1440px) {
    top: -117px;
    font-size: 12px;
    line-height: 1.5;
  }
}

.facts-list {
  margin-top: 5em;

  @media (min-width: 768px) {
    margin-top: 108px;
  }

  @media (min-width: 960px) {
    margin-top: 134px;
  }

  @media (min-width: 1200px) {
    margin-top: 100px;
  }
  @media (min-width: 1440px) {
    margin-top: 118px;
  }
}

.facts-list__title {
  @extend %uppercase;
  font-weight: 900;
  text-align: center;
  font-size: 12px;
  margin-bottom: 25px;
  position: relative;

  @media (min-width: 480px) {
    font-size: 18px;
    padding-top: 3px;
    padding-bottom: 15px;
  }

  @media (min-width: 768px) {
    font-size: 26.92px;
    line-height: 33.65px;
    padding-top: 0;
    text-align: left;
    padding-bottom: 0;
    margin-bottom: 20px;
  }

  @media (min-width: 960px) {
    font-size: 33.65px;
    line-height: 42.06px;
    margin-bottom: 23px;
  }

  @media (min-width: 1200px) {
    letter-spacing: -3px;
    line-height: 1.2;
    margin-bottom: 20px;
  }
  @media (min-width: 1440px) {
    letter-spacing: 0px;
    font-size: 36px;
    padding-bottom: 5px;
  }
}

.facts-list__text {
  font-weight: 700;
  padding-left: 25px;
  padding-bottom: 25px;

  @media (min-width: 480px) {
    padding-left: 38px;
    padding-bottom: 40px;
  }

  @media (min-width: 768px) {
    font-size: 10px;
    padding-left: 28px;
  }

  @media (min-width: 960px) {
    font-size: 11.22px;
    line-height: 16.82px;
    font-weight: 700;
    padding-left: 35px;
    width: 90%;
  }

  @media (min-width: 1200px) {
    width: 90%;
    font-size: 10px;
    line-height: 15px;
  }
  @media (min-width: 1440px) {
    font-size: 13px;
    line-height: 1.5;
  }

  &::before {
    content: "";
    height: 1.8px;
    width: 13px;
    background: #000;
    position: absolute;
    left: 10px;
    top: 5px;

    @media (min-width: 480px) {
      width: 20px;
      left: 12px;
      top: 9px;
    }

    @media (min-width: 768px) {
      width: 28px;
      height: 3px;
      left: -8px;
      top: 3px;
    }

    @media (min-width: 960px) {
      left: -10px;
      top: 5px;
      width: 35px;
    }

    @media (min-width: 1200px) {
      left: -8px;
      top: 1px;
      width: 30px;
    }
    @media (min-width: 1440px) {
      left: -14px;
      top: 6px;
      width: 37px;
    }
  }
}

.facts-item {
  padding-left: 26px;

  @media (min-width: 480px) {
    padding-left: 40px;
  }

  @media (min-width: 768px) {
    padding-left: 0;
  }

  &__title {
    @extend %uppercase;
    padding-bottom: 5px;
    position: relative;

    @media (min-width: 768px) {
      padding-top: 5px;
    }

    @media (min-width: 960px) {
      padding-bottom: 10px;
    }

    @media (min-width: 1200px) {
      padding-bottom: 5px;
    }

    &--accent {
      font-size: 18px;

      @media (min-width: 480px) {
        font-size: 24px;
      }
      @media (min-width: 768px) {
        font-size: 16.82px;
        line-height: 20.19px;
      }
      @media (min-width: 960px) {
        font-size: 22px;
        line-height: 25px;
      }
      @media (min-width: 1200px) {
        font-size: 18.75px;
        line-height: 22.5px;
      }
      @media (min-width: 1440px) {
        font-size: 22.5px;
        line-height: 27px;
      }
    }

    &--litle {
      font-size: 0.7em;

      @media (min-width: 960px) {
        font-size: 12px;
      }
    }

    &::before {
      content: "";
      height: 7px;
      width: 7px;
      background: $brand-color;
      position: absolute;
      left: -15px;
      top: 5px;

      @media (min-width: 480px) {
        height: 10px;
        width: 10px;
        left: -22px;
        top: 6px;
      }
      @media (min-width: 768px) {
        display: none;
      }
    }
  }

  &__desc {
    font-weight: 800;
    padding-bottom: 7px;

    @media (min-width: 480px) {
      padding-bottom: 16px;
    }

    @media (min-width: 768px) {
      padding-bottom: 7px;
      font-size: 7.85px;
      line-height: 13.46px;
    }

    @media (min-width: 960px) {
      padding-bottom: 12px;
      font-size: 10px;
    }

    @media (min-width: 1200px) {
      padding-bottom: 5px;
      font-size: 8.75px;
      line-height: 15px;
      width: 80%;
    }
    @media (min-width: 1440px) {
      padding-bottom: 10px;
      font-size: 10.5px;
      line-height: 18px;
    }

    &--mb {
      margin-bottom: 20px;
      font-weight: 700;

      @media (min-width: 480px) {
        padding: 10px 0 0px;
      }

      @media (min-width: 768px) {
        padding-top: 0;
      }

      &-5 {
        margin-bottom: 20px;
        font-weight: 700;

        @media (min-width: 480px) {
          padding: 10px 0 0px;
          margin-bottom: 30px;
        }
        @media (min-width: 768px) {
          padding-top: 0;
        }
      }
    }
  }

  &__text {
    color: $base-color-third;
    padding-bottom: 20px;

    &--mb {
      margin-bottom: 30px;
    }

    @media (min-width: 768px) {
      color: #000;
      padding-bottom: 16px;
      font-size: 7.85px;
      line-height: 11.78px;
    }
    @media (min-width: 960px) {
      padding-bottom: 20px;
      font-size: 9.81px;
      line-height: 14.72px;
    }
    @media (min-width: 1200px) {
      padding-bottom: 13px;
    }
    @media (min-width: 1440px) {
      font-size: 10.5px;
      line-height: 15.75px;
      padding-bottom: 22px;
    }
  }

  &--pic:before {
    content: "";
    background: url(../images/768px/section-one/img-1.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: absolute;
    bottom: 0;
    right: -80px;
    width: 218px;
    height: 109px;
    z-index: -1;

    @media (min-width: 320px) and (max-width: 767px) {
      display: none;
    }

    @media (min-width: 768px) {
      right: -130px;
      bottom: 20px;
    }

    @media (min-width: 960px) {
      width: 289px;
      height: 131px;
      right: -180px;
    }
    @media (min-width: 1200px) {
      right: -170px;
      height: 115px;
    }
    @media (min-width: 1440px) {
      width: 347px;
      height: 143px;
      right: -209px;
    }
  }
}

.stability-section {
  padding-top: 12px;

  @media (min-width: 768px) {
    padding-top: 0px;
  }

  @media (min-width: 1200px) {
    padding-top: 30px;
  }
  @media (min-width: 1440px) {
    padding-top: 60px;
  }
}

.stability-section__img {
  display: block;
  padding-bottom: 18px;

  @media (min-width: 480px) {
    margin-top: 20px;
    margin-bottom: 5px;
  }

  @media (min-width: 768px) {
    margin-top: 70px;
    margin-bottom: 5px;
    width: 276px;
    height: 283px;
  }

  @media (min-width: 960px) {
    margin-top: 95px;
    width: 347px;
    height: 340px;
  }
  @media (min-width: 1200px) {
    width: 308px;
    height: 314px;
    margin-top: 75px;
  }
  @media (min-width: 1440px) {
    width: 369px;
    height: 377px;
  }
}

.stability-section__title {
  @extend %uppercase;
  font-size: 12px;
  line-height: 16px;
  padding-bottom: 14px;
  padding-left: 65px;

  @media (min-width: 480px) {
    font-size: 18px;
    line-height: 24px;
    padding-bottom: 22px;
    padding-left: 100px;
  }

  @media (min-width: 768px) {
    font-size: 8.97px;
    line-height: 14.58px;
    padding-left: 0px;
    padding-top: 26px;
  }

  @media (min-width: 960px) {
    font-size: 11.22px;
    line-height: 18.23px;
    padding-top: 48px;
    padding-left: 5px;
  }
  @media (min-width: 1200px) {
    font-size: 10px;
    line-height: 16.25px;
    padding-top: 32px;
  }
  @media (min-width: 1440px) {
    font-size: 12px;
    padding-top: 35px;
    padding-left: 0px;
    line-height: 19.5px;
  }
}

.besides-number__list {
  padding-left: 2.8em;

  @media (min-width: 768px) {
    padding-left: 27px;
    width: 95%;
  }

  @media (min-width: 960px) {
    padding-left: 37px;
    padding-top: 15px;
    width: 95%;
  }
  @media (min-width: 1200px) {
    width: 90%;
    padding-left: 30px;
    padding-top: 7px;
  }
  @media (min-width: 1440px) {
    padding-left: 38px;
    padding-top: 15px;
    width: 75%;
    font-size: 12px;
  }
}

.besides-number__title {
  @extend %uppercase;
  font-size: 12px;
  line-height: 16px;
  text-align: center;
  margin-bottom: 5px;

  @media (min-width: 480px) {
    font-size: 18px;
    line-height: 25px;
    padding: 10px 0 8px 30px;
  }

  @media (min-width: 768px) {
    font-size: 26.92px;
    line-height: 35px;
    text-align: left;
    padding-top: 70px;
    padding-left: 0px;
  }

  @media (min-width: 960px) {
    font-size: 33.65px;
    padding-top: 95px;
    margin-bottom: 10px;
    line-height: 42.06px;
  }
  @media (min-width: 1200px) {
    line-height: 37.5px;
    font-size: 30px;
    letter-spacing: -0.5px;
    width: 80%;
    padding-top: 75px;
  }
  @media (min-width: 1440px) {
    font-size: 36px;
    margin-bottom: 25px;
  }
}

.besides-number__text {
  padding-left: 70px;
  width: 90%;
  font-weight: 700;
  position: relative;
  margin-bottom: 29px;

  @media (min-width: 480px) {
    padding-left: 103px;
    margin-bottom: 40px;
  }

  @media (min-width: 768px) {
    padding-left: 38px;
    font-size: 8.97px;
    line-height: 13.46px;
    font-weight: 500;
    margin-bottom: 38px;
  }

  @media (min-width: 960px) {
    font-size: 11.22px;
    width: 80%;
    line-height: 16.82px;
    padding-left: 50px;
  }

  @media (min-width: 1200px) {
    font-size: 10px;
    width: 75%;
    line-height: 15px;
    font-weight: 700;
    padding-left: 45px;
  }
  @media (min-width: 1440px) {
    font-size: 12px;
    line-height: 18px;
    padding-left: 55px;
    width: 65%;
    line-height: 1.5;
  }

  &::before {
    content: "";
    height: 2px;
    width: 9px;
    background: #000;
    position: absolute;
    left: 52px;
    top: 6px;

    @media (min-width: 480px) {
      left: 82px;
      width: 13px;
      top: 7px;
    }

    @media (min-width: 768px) {
      left: -2px;
      top: 3px;
      width: 26px;
      height: 3px;
    }
    @media (min-width: 960px) {
      left: 0px;
      top: 6px;
      width: 35px;
      height: 3px;
    }
    @media (min-width: 1440px) {
      left: 1px;
      width: 37px;
      top: 8px;
    }
  }
}

.besides-number__item {
  position: relative;
  padding-bottom: 15px;

  @media (min-width: 480px) {
    padding-bottom: 20px;
  }

  @media (min-width: 768px) {
    padding-bottom: 23px;
    font-size: 7.85px;
    line-height: 11.78px;
  }

  @media (min-width: 960px) {
    padding-bottom: 27px;
    font-size: 9.81px;
    line-height: 14.72px;
  }
  @media (min-width: 1200px) {
    padding-bottom: 18px;
    font-size: 10px;
    line-height: 16.25px;
  }
  @media (min-width: 1440px) {
    padding-bottom: 18px;
    font-size: 10.5px;
    line-height: 15.75px;
  }
}

.besides-number__item::before {
  content: "";
  width: 3px;
  height: 3px;
  background: #000;
  position: absolute;
  top: 5px;
  left: -12px;

  @media (min-width: 480px) {
    width: 5px;
    height: 5px;
    top: 8px;
    left: -18px;
  }

  @media (min-width: 768px) {
    width: 6px;
    height: 6px;
    top: 3px;
    left: -27px;
  }

  @media (min-width: 960px) {
    width: 8px;
    height: 8px;
    top: 4px;
    left: -35px;
  }
}

.besides-number__item--uppercase {
  @extend %uppercase;
  font-weight: 900;
  padding-bottom: 9px;

  @media (min-width: 480px) {
    padding-bottom: 17px;
  }
  @media (min-width: 768px) {
    font-size: 8.97px;
    padding-bottom: 9px;
  }

  @media (min-width: 960px) {
    font-size: 11.22px;
    padding-bottom: 10px;
  }

  @media (min-width: 1200px) {
    padding-bottom: 2px;
  }
  @media (min-width: 1440px) {
    padding-bottom: 5px;
    font-size: 12px;
    line-height: 19.5px;
  }

  &-two {
    padding-bottom: 5px;

    @media (min-width: 480px) {
      padding-bottom: 10px;
    }
    @media (min-width: 768px) {
      padding-bottom: 7px;
    }
    @media (min-width: 1200px) {
      padding-bottom: 0px;
    }
  }
}

.usual-people {
  padding-top: 5px;
}

.usual-people__title {
  @extend %title;
  @extend %uppercase;
  font-weight: 700;
  margin-top: 15px;
  margin-bottom: 18px;
  font-size: 12px;

  @media (min-width: 480px) {
    font-size: 18px;
    padding: 15px 0 10px 0px;
  }

  @media (min-width: 768px) {
    font-size: 26.92px;
    padding: 0;
    line-height: 33.65px;
    padding-top: 40px;
  }

  @media (min-width: 960px) {
    font-size: 33.65px;
    line-height: 42.06px;
    padding-top: 60px;
  }

  @media (min-width: 1200px) {
    font-size: 30px;
    line-height: 37.5px;
    padding-top: 55px;
  }
  @media (min-width: 1440px) {
    padding-top: 88px;
    font-size: 36px;
    line-height: 45px;
  }
}

.usual-people__text {
  padding-left: 22px;
  padding-bottom: 5px;
  position: relative;

  @media (min-width: 480px) {
    padding-left: 35px;
  }

  @media (min-width: 768px) {
    padding-left: 48px;
    padding-top: 11px;
    font-size: 9px;
  }

  @media (min-width: 960px) {
    font-size: 11.22px;
    padding-top: 18px;
    padding-left: 58px;
    line-height: 16.82px;
  }
  @media (min-width: 1200px) {
    font-size: 10px;
    line-height: 15px;
    padding-top: 20px;
    padding-left: 55px;
  }
  @media (min-width: 1440px) {
    font-size: 12px;
    line-height: 1.5;
    width: 95%;
    padding-top: 15px;
    padding-left: 60px;
  }

  &::before {
    content: "";
    width: 13px;
    height: 2px;
    background: #000;
    position: absolute;
    top: 8px;
    left: -2px;

    @media (min-width: 480px) {
      top: 10px;
      left: 0px;
      width: 20px;
    }
    @media (min-width: 768px) {
      top: 17px;
      left: 0px;
      width: 29px;
      height: 3px;
    }

    @media (min-width: 960px) {
      top: 23px;
      left: 3px;
      width: 35px;
      height: 4px;
    }
    @media (min-width: 1200px) {
      top: 27px;
      left: 4px;
      width: 30px;
      height: 3px;
    }
    @media (min-width: 1440px) {
      top: 22px;
      left: 0px;
      width: 37px;
      height: 4px;
    }
  }
}

.history-of-success {
  width: 200px;
  height: 138px;
  margin: 10px auto 0;
  position: relative;
  padding-top: 10px;
  padding-left: 5px;
  font-size: 0.6em;
  line-height: 1.2;
  box-shadow: 0 3px 12px -2px rgba(0, 0, 0, 0.5);

  @media (min-width: 480px) {
    padding-top: 25px;
    padding-left: 10px;
    width: 294px;
    height: 220px;
  }

  @media (min-width: 768px) {
    width: 422px;
    height: 303px;
    margin-top: 60px;
    padding-top: 23px;
    padding-left: 18px;
  }

  @media (min-width: 960px) {
    width: 527px;
    height: 385px;
    margin-top: 80px;
    padding-top: 33px;
    padding-left: 25px;
  }
  @media (min-width: 1200px) {
    width: 470px;
    height: 340px;
    margin-top: 80px;
    padding-top: 29px;
  }
  @media (min-width: 1440px) {
    width: 563px;
    height: 412px;
    margin-top: 105px;
    padding-top: 35px;
  }

  &__arrows {
    position: relative;
    top: 10px;

    @media (min-width: 480px) {
      right: -40px;
    }

    &::before {
      content: "";
      position: absolute;
      top: -10px;
      left: 68px;
      display: inline-block;
      width: 9px;
      height: 9px;
      background-color: #000;
      background-image: url(../images/1440px/section-one/arrow@1X.png);
      background-position: center center;
      background-repeat: no-repeat;

      @media (min-width: 480px) {
        width: 13px;
        height: 13px;
        left: 68px;
      }

      @media (min-width: 320px) and (max-width: 767px) {
        background-size: 30%;
      }

      @media (min-width: 768px) {
        width: 20px;
        height: 20px;
        left: 145px;
      }
      @media (min-width: 960px) {
        width: 25px;
        height: 25px;
        left: 195px;
      }
      @media (min-width: 1200px) {
        left: 170px;
        width: 22px;
        height: 22px;
      }
      @media (min-width: 1440px) {
        left: 217px;
        width: 25px;
        height: 25px;
      }
    }

    &::after {
      content: "";
      display: inline-block;
      position: absolute;
      left: 78px;
      top: -10px;
      width: 9px;
      height: 9px;
      background-color: #000;
      background-image: url(../images/1440px/section-one/arrow-r@1X.png);
      background-position: 50% 48%;
      background-repeat: no-repeat;

      @media (min-width: 480px) {
        width: 13px;
        height: 13px;
        left: 84px;
      }

      @media (min-width: 320px) and (max-width: 767px) {
        background-size: 34%;
      }

      @media (min-width: 768px) {
        width: 20px;
        height: 20px;
        left: 166px;
      }
      @media (min-width: 960px) {
        width: 25px;
        height: 25px;
        left: 222px;
      }
      @media (min-width: 1200px) {
        left: 193px;
        width: 22px;
        height: 22px;
      }
      @media (min-width: 1440px) {
        left: 244px;
        width: 25px;
        height: 25px;
      }
    }
  }

  &:after {
    content: "";
    height: 18px;
    width: 2px;
    background: #000;
    border-radius: 5px;
    position: absolute;
    bottom: 12px;
    right: 12px;

    @media (min-width: 480px) {
      height: 28px;
    }

    @media (min-width: 768px) {
      height: 40px;
      width: 3px;
      bottom: 25px;
      right: 20px;
    }

    @media (min-width: 960px) {
      height: 45px;
      width: 4px;
      bottom: 32px;
    }
    @media (min-width: 1440px) {
      height: 50px;
      width: 4px;
      bottom: 37px;
      right: 23px;
    }
  }

  &__name {
    @extend %uppercase;
    font-weight: 800;
    font-size: 3.64px;
    line-height: 6.25px;

    @media (min-width: 480px) {
      font-size: 5.46px;
      line-height: 9.37px;
      padding-top: 3px;
    }
    @media (min-width: 768px) {
      font-size: 7.85px;
      line-height: 13.46px;
      padding-top: 8px;
    }

    @media (min-width: 960px) {
      font-size: 9.81px;
      line-height: 16.82px;
      padding-top: 12px;
    }
    @media (min-width: 1200px) {
      padding-top: 7px;
      font-size: 8.75px;
      line-height: 15px;
    }
    @media (min-width: 1440px) {
      padding-top: 15px;
      font-size: 10.5px;
      line-height: 18px;
    }
  }

  @media (min-width: 768px) {
    font-size: 1.2em;
    line-height: 2;
  }
}

.history-of-success__img {
  display: block;
  width: 37px;
  height: 37px;
  margin-bottom: 5px;

  @media (min-width: 480px) {
    width: 57px;
    height: 57px;
  }
  @media (min-width: 768px) {
    width: 81px;
    height: 81px;
  }
  @media (min-width: 960px) {
    width: 100px;
    height: 100px;
  }
  @media (min-width: 1200px) {
    width: 90px;
    height: 90px;
  }
  @media (min-width: 1440px) {
    width: 106px;
    height: 106px;
  }
}

.history-of-success__text {
  font-size: 3.64px;
  line-height: 6.25px;
  width: 90%;

  @media (min-width: 480px) {
    font-size: 5.46px;
    line-height: 9.37px;
  }
  @media (min-width: 768px) {
    font-size: 7.85px;
    line-height: 13.46px;
    width: 90%;
  }
  @media (min-width: 960px) {
    padding-left: 7px;
    font-size: 10px;
    line-height: 1.6;
    width: 90%;
  }
  @media (min-width: 1200px) {
    padding-left: 7px;
    font-size: 8.75px;
    line-height: 15px;
    width: 95%;
  }
  @media (min-width: 1440px) {
    padding-left: 7px;
    font-size: 10.5px;
    line-height: 18px;
    width: 95%;
  }
}

.page-numbers {
  font-weight: 800;
  position: absolute;
  top: 0px;
  left: 78px;

  @media (min-width: 480px) {
    left: 115px;
  }

  @media (min-width: 768px) {
    left: 43px;
    top: 8px;
  }

  @media (min-width: 960px) {
    left: 56px;
    top: 12px;
  }

  @media (min-width: 1200px) {
    left: 50px;
    top: 9px;
  }
  @media (min-width: 1440px) {
    left: 60px;
    top: 14px;
  }

  &__crossed {
    font-size: 6px;
    text-decoration: line-through;

    @media (min-width: 480px) {
      font-size: 9px;
    }

    @media (min-width: 768px) {
      font-size: 11px;
      padding-right: 11px;
    }

    @media (min-width: 960px) {
      font-size: 13px;
      padding-right: 11px;
    }
  }

  &__small {
    font-size: 0.4em;

    @media (min-width: 768px) {
      font-size: 6px;
      padding-right: 9px;
    }
    @media (min-width: 960px) {
      font-size: 8px;
    }
  }
}
