.section-one {
    padding-top: 4em;
    font-family: $main-font;
    font-weight: 500;
    font-size: 9px;
    line-height: 13px;

    @media (min-width: 480px) {
        font-size: 13.5px;
        line-height: 19.5px;
        padding-top: 4em;
    }

    @media (min-width: 768px) {
        font-size: 8.97px;
        line-height: 13.46px;
        padding-top: 4em;
    }
}

.section-one__img-two {
    display: block;
}

.section-one__img {
    display: block;
    position: relative;

    &:after {
        content: 'YOU';
        position: absolute;
        transform: rotate(90deg);
        bottom: -80px;
        left: -45px;
        font-family: $main-font;
        font-weight: 800;
        font-size: 66.11px;
        opacity: 0.05;

        @media (min-width: 480px) {
            font-size: 97.66px;
            bottom: -120px;
            left: -65px;
        }

        @media (min-width: 768px) {
            font-size: 140.24px;
            bottom: -150px;
            left: -70px;
        }
    }
}

.hidden {

    &-sm {
        @media(min-width: 768px) {
            display: none;
        }
    }

    &-md {
        @media screen and (min-width: 320px) and (max-width: 767px) {
            display: none;
        }
    }
}

.section-one__text {

    color: $base-color-third;

    &--accent {
        color: $brand-color;
        text-align: center;

        @media (min-width:768px) {
            font-size: 9.6px;
            line-height: 13.6px;
            text-align: left;
            font-weight: 600;
        }
    }

    &--mark-text {
        font-weight: 800;
        padding-bottom: 0.5em;
    }

    &--before {
        padding-left: 15px;
        font-weight: 600;
        color: #000;

        &:before {
            content: '';
            position: absolute;
            top: 6px;
            left:0px;
            height: 2px;
            width: 15px;
            background: #000;

            @media (min-width: 768px) {
                width: 25px;
                height: 3px;
                left: -5px;
                top: 5px;
            }
        }
    }

    // @media (min-width: 768px) {
    //     color: #000;
    //     font-weight: 800;
    // }
}

.section-one__sub-title {
    position: relative;
    @extend %sub-title;
    @extend %uppercase;

    @media (min-width:768px) {
        margin-top: 30px;
    }
}

.section-one__sub-title--after {
    padding-left: 2.2em;
    
    &:before {
        content: '';
        position: absolute;
        bottom: 0.5em;
        transform: translate(0, 50%);
        left:0px;
        height: 2px;
        width: 15px;
        background: #000;
    }

    @media (min-width: 768px) {
        font-size: 10.09px;

        &:before {
            width: 25px;
            height: 3px;
            left: -30px;
            top: 5px;
        }
    }

} 

.section-one__title {
    @extend %title;
    @extend %uppercase;

    &--center {
        text-align: center;

        @media (min-width: 768px) {
            text-align: left;
        }
    }
    @media (min-width: 768px) {
        font-size: 25px;
        line-height: 33.65px;
    }

    &--md-small {
        @media (min-width: 768px) {
            font-size: 8.97px;
            line-height: 14.58px;
        }
    }
}

.list {
    padding-left:2.8em;

    @media (min-width: 768px) {
        padding-left: 4.5em;
    }

}

.list__item {
    list-style: square;
    padding-bottom: 0.9em;
    color: $base-color-third;

    &--mark-text {
        font-weight: 800;
        color: $base-color-first;

        &-uppercase {
            @extend %uppercase;
            font-weight: 800;
            padding-bottom: 10px;
            color: #000;
        }
    }

    &--none {
        
    @media (min-width:768px) {
        list-style: none;
        }
    }
}

.facts-list {
    padding-left: 10px;
}

.facts-item {
    padding: 0 0 2.2em 0.9em;

    &__title {
        @extend %uppercase;
        padding-bottom: 0.56em;
        
        &--accent {
            font-size: 1.4em;
        }
        &--litle {
            font-size: 0.7em;
        }

        &:before {
            content: '';
            height: 5px;
            width: 5px;
            background: $brand-color;
            position: absolute;
            left: 5px;
            top: 3.5px;

            @media (min-width: 480px) {
                height: 10px;
                width: 10px;
            }
        }
    }

    &__desc {
        font-weight: 800;
        padding-bottom: 5px;
    }

    &__text {
        color: $base-color-third;

        @media (min-width:768px) {
            color:#000;
        }
    }

    &--pic::before {
            content: '';
            background: url(../images/768px/section-one/img-1.png);
            position: absolute;
            bottom: 0;
            right: -80px;
            width: 218px;
            height: 109px;
            z-index: -1;

            @media (min-width: 320px) and (max-width: 767px) {
                display: none;
            }
        }
}

.history-of-success {
    padding: 0.9em 0 0.9em;
    font-size: 0.5em;
    line-height: 1.2;
    box-shadow: 0 3px 12px -2px rgba(0, 0, 0, 0.5);

    @media (min-width:480) {

    }

    &__name {
        @extend %uppercase;
        font-weight: 800;

    }
}

.mt-md {
    @media (min-width: 768px) {
        margin-top: 80px;
    }
}




