%title {
    font-family: $main-font;
    font-size: 13.68px;
    font-weight: 500;
    line-height: 17.1px;
}
%section-four-text {
    font-size: 9px;
    font-family: $main-font;
}
%uppercase {
    text-transform: uppercase;
}