%title {
  font-family: $main-font;
  font-size: 13.68px;
  font-weight: 500;
  line-height: 17.1px;

  @media (min-width: 480px) {
    font-size: 20.53px;
    line-height: 25.66px;
  }
}

%sub-title {
  font-family: $main-font;
  font-size: 9.86px;
  font-weight: 800;
  line-height: 10.96px;

  @media (min-width: 480px) {
    font-size: 14.79px;
    line-height: 16.43px;
  }
}

%uppercase {
  text-transform: uppercase;
}

%arrow {
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: #000;
  background-image: url(../images/1440px/section-one/arrow@1X.png);
  background-position: center center;
  background-repeat: no-repeat;
}

