/*
Fonts
*/
$main-font: acrom, sans-serif;
/*colors*/
$base-color-first:#000000;
$base-color-second:#ffffff;
$base-color-third:#3f4144;
$brand-color:#ff6b08;
$accent-color: #17ecff;
$footer-background-color:#181c27;
$footer-copyright-color:#202020;
