/*
Fonts
*/
$main-font: acrom, sans-serif;
$footer-font: gilroy, sans-serif;
$base-color-first:#000;
$base-color-second:#fff;
$brand-color:#ff6b08;
$accent-color: #16ebfe;
$footer-background-color:#181c27;
$footer-copyright-color:#202020;
$base-color-third: #3f4144;